<div class="segmentedControlContainer">
    <ul class="segmentedControl">
        <li class="myMods">My Mods</li>
        <li class="store">Store</li>
    </ul>
</div>
<div class="currentView"></div>
